body
{
    font-family: Microsoft JhengHei;
}
.logo
{
    width: 40px;
    margin-right: 16px;
}

.nav-item
{
    margin-left: 60px;
}

header
{
    margin-top: 50px;
}

.triangle
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25vw 10vw 25vw;
    border-color: transparent transparent #79baff transparent;
    margin-top: -10vw;
    z-index: 20;
}
.section-brand
{
    
}

.section-brand h2
{
    margin-top: 75px;
}