body
{
    font-family: Microsoft JhengHei;
}
.logo
{
    width: 40px;
    margin-right: 16px;
}

#paint {
	display: none;
}

.nav-item
{
    margin-left: 30px;
}

header
{
    margin-top: 50px;
}

.triangle
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25vw 10vw 25vw;
    border-color: transparent transparent #79baff transparent;
    margin-top: -10vw;
    z-index: 20;
}
.section{
    padding-top:30px;
    background-color: #79baff;
    color: white;
}
.store{
    padding-top: 3%;
}
.text{
    color: #61991c;
    font-weight: bold;
    padding-left:10%;
    padding-right:10%;
}
.text1{
    color: #61991c;
    font-weight: bold;
    padding-left:10%;
    padding-right:10%;
    padding-top: 10%;
}
.img{
    padding-right:10%;
    padding-left: 30px;
    float: right;
}
.p{
    padding-top:2%;
    padding-left:10%;
    padding-right:30%;   
}
.footer{
    background-color:#6ea924;
    padding-left: 10%;
    padding-right: 10%;
}
.footerp{
    background-color:#6ea924;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}
.footerp1{
    background-color:#6ea924;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
}
.icon_img{
    margin-right: 4px;
}
.shopbtn{
    padding-top: 3%;
}
.about{
    padding-top: 10%;
}
.cooper{
    border-top: 2px solid grey;
}
.coopertext{
    padding-top: 2%;
}
.cooperimg{
    padding-left: 5%;
}

.userMenu{
	text-align:center;
	min-height:500px;
}

.userMenu h1{
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	border-bottom:1px solid black;
	width:70%;
}

.userMenu a{
	margin:0px auto; 
	font-size:24px;
	color:black;
}

#facilityButton{
	width:60%;
	border-radius:10px;
	background: rgb(230,230,230);
	padding-bottom:20px;
}

#facilityButton h4{
	text-align:left;
}

#facilityButton button{
	height:30px;
	border-radius:5px;
	background: rgb(0,110,46);
	color: #fff;
	display:inline-block;
	padding:0px 10px;
	margin:5px 10px;
}

#productButton{
	width:60%;
	border-radius:10px;
	background: rgb(230,230,230);
	padding-bottom:20px;
}

#productButton h4{
	text-align:left;
}

#productButton button{
	height:30px;
	border-radius:5px;
	background: rgb(0,110,46);
	color: #fff;
	display:inline-block;
	padding:0px 10px;
	margin:5px 10px;
}

.editbody{
	margin-top:20px;
}

.editbody form{
	margin-bottom:20px;
}

.choiceImageButton{
	margin-left:57px;
}

#preview_img{
	margin:10px auto;
	width:300px;
	height:300px;
	background-repeat:no-repeat;
	background-size:cover;
}

#facilityImage{
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
}

@media only screen and (max-width: 480px) {
    .footerp{
        text-align: center;
    }
    .footerp1{
        text-align: center;
    }
}
@media only screen and (max-width: 992px) {
    .nav-item
    {
        margin-left: 0px;
    }
}