body
{
    font-family: Microsoft JhengHei;
}
.logo
{
    width: 40px;
    margin-right: 16px;
}

#paint {
	display: none;
}

.nav-item
{
    margin-left: 30px;
}

header
{
    margin-top: 50px;
}

.triangle
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25vw 10vw 25vw;
    border-color: transparent transparent #79baff transparent;
    margin-top: -10vw;
    z-index: 20;
}
.section{
    padding-top:30px;
    background-color: #79baff;
    color: white;
}
.store{
    padding-top: 3%;
}
.text{
    color: #61991c;
    font-weight: bold;
    padding-left:10%;
    padding-right:10%;
}
.text1{
    color: #61991c;
    font-weight: bold;
    padding-left:10%;
    padding-right:10%;
    padding-top: 10%;
}
.img{
    padding-right:10%;
    padding-left: 30px;
    float: right;
}
.p{
    padding-top:2%;
    padding-left:10%;
    padding-right:30%;   
}
.footer{
    background-color:#6ea924;
    padding-left: 10%;
    padding-right: 10%;
}
.footerp{
    background-color:#6ea924;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}
.footerp1{
    background-color:#6ea924;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
}
.icon_img{
    margin-right: 4px;
}
.shopbtn{
    padding-top: 3%;
}
.about{
    padding-top: 10%;
    background: white;
}
.cooper{
    border-top: 2px solid grey;
}
.coopertext{
    padding-top: 2%;
}
.cooperimg{
    padding-left: 5%;
}
.polaroid {
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.container {
    text-align: center;
    padding: 10px 20px;
}
.imgsection{
    margin: 0px auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
.editbody{
    background: white;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}
.formbody{
    padding-bottom: 8%;
}
input {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
@media only screen and (max-width: 480px) {
    .footerp{
        text-align: center;
    }
    .footerp1{
        text-align: center;
    }
}
@media only screen and (max-width: 992px) {
    .nav-item
    {
        margin-left: 0px;
    }
}